body {
	background-color:#f5f5f5;}
	
body p {
	color:#2e2e2e;}

header > nav, #main-container {
	max-width:1200px;
	margin:0 auto;}
	
header {
	background-color:#53cdfc}	
	
header > nav.navbar {
	color:#333;
	border:none;
	background-color:transparent;}
	
#bs-navbar-collapse {}

#bs-navbar-collapse > ul {
	margin-left:150px;}

.navbar-default ul.nav > li > a {
	font-size:17px;
	color:white;}	
	
.navbar-default ul.nav > li > a:hover {
	color:#e5e5e5;}	
	
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color:transparent;
	color:#e5e5e5;}	
		
.navbar-header a.navbar-brand {
	padding:5px;}
	
.navbar-header a.navbar-brand:hover {
	background-color:none;}
	
#lng-list > a {
    text-transform:uppercase;}
    
#lng-list > ul > li > a {
    font-size: 17px;
    text-transform:uppercase;}

#lng-list .dropdown-menu {
    min-width:40px;    
    background-color:none;}
	
/*--- project -----*/
#project > h4 > span:first-child {
	display:block;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:600;
	color:#8b8b8b;
	margin-bottom:10px;}	
	
#project > h4 > span:last-child {
	font-size:25px;
	color:#004c69;}
	
.users {
	margin-top:15px;}	
	
.users > p > span:first-child {	
	display:block;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:600;
	color:#8b8b8b;
	margin-bottom:5px;}
	
	
	
/*---- activities ------*/
.content-holder {
	padding-left:30px;}
	
.act-holder > h4 {
	display:block;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:600;
	color:#8b8b8b;
	margin-bottom:25px;}
	
	
.act-holder > div:first:child {}

.act-holder > div:first-child > div {
	padding-left:0;
	padding-right:0}
	
.act-holder > div:first-child > div > h4 {
	font-size:16px;
	font-weight:600;
	color:#868686;}
	
.act-holder > div:first-child > div:last-child {
	text-align:right;}

.act-holder > div:first-child > div:last-child > a {
	text-transform:uppercase;}
	
	
		
.act {
	background-color:white;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:1px 1px 2px 0px rgba(50, 50, 50, 0.75);}

.act-top > div {
	width:60%;
	float:left;}
	
.act-top > div:first-child { 
	width:17.318%}
	
.act-top > div:last-child  {
	width:22.682%}	
	
p.new {
	background-color:#f59e32;}
	
p.solved {
	background-color:#a6c41f;}
	
p.onhold {
	background-color:#9b953b;}

	
.act-bottom {
	height:45px;
	width:100%;
	display:table;}	
	
.act-bottom > div {
	padding-left:3px;
	height:45px;
	display:block;
	width:16%;
	float:left;}

.act-bottom > div:last-child {}
	
.act-bottom > div:first-child {
	width:17.318%}
	
.act-bottom > div > span {
	display:block;}
	
.act-top-info {
	padding-right:5px;}

	
.act-top-info > p:last-child {
	padding:5px;
	text-align:center;
	color:white;}
	
		
.act-bottom {
	background-color:#f4f8fb;}
	
.act-bottom > div {}
	
.act-bottom > div > span:first-child {
	color:#b7b1a7;}
	
.act-bottom > div:last-child > span {}
	
	
	
.act-top-head > h3 {
	font-weight:600;
	margin-top:10px;
	margin-bottom:5px;
	font-size:16px;}
	
.act-top-head > p {
	font-size:14px;
	line-height:20px;
	color:#7b7b7b;}	
	
.act-top-info {
	padding-top:10px;}
			
.act-top-info > p:first-child {
	font-size:12px;
	color:#7b7b7b;
	text-align:center;
	margin-bottom:15px;}
	
.act-link-holder > a {
	font-size:17px;
	line-height:45px;
	text-align:center;
	vertical-align:middle;
	float:left;
	display:block;
	color:#545557;
	width:25%;}
	
.act-top-time {
	padding-right:30px;
	text-align:right;
	padding-top:10px;}
	
.act-top-time > p > span {
	color:#7b7b7b;
	font-size:12px;}
	
.act-top-time > p > span:first-child {
	color:#abb2b6;}
	
/*--- aside ----*/
aside {
	background-color:white;}

aside > h4 {
	color:#014b68;
	font-size:16px;
	font-weight:600;}

aside > ul {
	list-style:none;
	padding-left:20px}
	
aside > ul > li {
	margin-top:10px;}
	
/*----- resoliutions -------*/
#issues > h5, #issues > h4 {
	font-size:16px;
	font-weight:600;
	color:#868686;}
	
#issues > h5 > span, #issues > h4 > span  {
	display:block;}
	
#issues > h4 > span:last-child {
	font-weight:400;
	font-size:24px;
	color:#2e2e2e;}
	
#issues > h5 > span:last-child {
	font-weight:400;
	color:#2e2e2e;}
		
.condition { 	
	font-size:16px;
	font-weight:600;
	color:#868686;}
	
	

.new.badge {
	background-color:#53cdfc;
	color:black;}
	
.res-holder > div:first:child {}

.res-holder > div:first-child > div {
	padding-left:0;
	padding-right:0}
	
.res-holder > div:first-child > div > h4 {
	font-size:16px;
	font-weight:600;
	color:#868686;}
	
.res-holder > div:first-child > div:last-child {
	text-align:right;}

.res-holder > div:first-child > div:last-child > a {
	text-transform:uppercase;}

	
.resolitions {
	padding:15px 30px;
	background-color:white;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:1px 1px 2px 0px rgba(50, 50, 50, 0.75);}
	
.res-top {
	border-bottom:1px solid #e5e5e5;}
	
.res-top > div {
	padding-left:0}
	
.res-top > div > p {
	text-align:left;
	color:#7b7b7b;}

.res-top > div > p > a {
	padding-left:5px;
	color:inherit;}
	
.res-top > div > p > a:hover {
	color:#3d3d3d;}

.res-top > div:last-child {
	padding-right:0;}
	
.res-top > div:last-child > p {
	text-align:right;}
	
.res-bottom {
	padding-top:10px;}
	
	
.res-bottom > p {
	font-size:14px;
	line-height:20px;}	
		
