
header > nav, #main-container {
	max-width:1200px;
	margin:0 auto;}
	
	
	
/*---- activities ------*/
.act {
	padding:5px 0 ;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:1px 1px 2px 0px rgba(50, 50, 50, 0.75);}

.act-top > div {
	width:60%;
	float:left;}
	
.act-top > div:first-child, .act-top > div:last-child  {
	width:20%;}
	
.act-bottom > div {
	width:14.2857%;
	float:left;}		
	
.act-bottom > div > span {
	display:block;}
	
.act-top-info {
	padding-right:5px;}

.act-top-info > p:first-child {
	margin-bottom:30px;}
	
.act-top-info > p:last-child {
	padding:5px;
	text-align:center;
	background-color:#C1773D;
	color:white;}
	
		
