body {
	background-color:#f5f5f5;}
	
body p {
	color:#2e2e2e;}

header > nav, #main-container {
	max-width:1200px;
	margin:0 auto;}
	
header {
	background-color:#53cdfc}	
	
header > nav.navbar {
	color:#333;
	border:none;
	background-color:transparent;}
	
#bs-navbar-collapse {}

#bs-navbar-collapse > ul {
	margin-left:150px;}

.navbar-default ul.nav > li > a {
	font-size:17px;
	color:white;}	
	
.navbar-default ul.nav > li > a:hover {
	color:#e5e5e5;}	
	
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color:transparent;
	color:#e5e5e5;}	
		
.navbar-header a.navbar-brand {
	padding:5px;}
	
.navbar-header a.navbar-brand:hover {
	background-color:none;}
	
#lang-selector {
	font-size:17px;
	text-transform:uppercase;
	border:none;
	width:70px;}

#lang-selector ~ ul {
	min-width:72px;	}
	
#lang-selector ~ ul > li> a {
	text-transform:uppercase;
	font-size:16px;}
	
#user-status {
	border:none;
	width:200px;}
	
#user-status ~ ul {
	width:200px;}
	
/*------- index ------- */
.project-top {
	padding-left:30px;
	padding-right:30px;}
	
.project-top > div {
	padding-left:0px;
	padding-right:0px;}
	
.project-top > div:last-child {
	text-align:right;}
		
.project-top > div:last-child > a {
	margin-left:5px;
	margin-top:10px;
	display:inline-block;
	color:#7b7b7b;}
			
.project-top > div > h3 {
	margin-bottom:5px;
	margin-top:10px;
	font-size:16px;}	
	
.project-top > div > p {
	font-size:12px;
	color:#868686;}
	
.project-bottom {
	margin-top:10px;
	height:48px;
	background-color:#f4f8fb;}
	
.project-bottom > div {
	color:#2e2e2e;
	border-right:1px solid #d2d9de;
	line-height:48px;
	padding-left:30px;
	float:left;}
	
.project-bottom > div:last-child {
	border-right:none;}

div.proj-prio {
	width:19.77%}
	
div.proj-prio > span{
	margin-left:5px;
	color:red;}
	
div.proj-develop {
	width:18.079%;}
	
div.proj-user {
	width:19.435%;}
	
div.proj-issues {
	width:15.367%}				
	
/*--- project -----*/
#project > h4 > span:first-child {
	display:block;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:600;
	color:#8b8b8b;
	margin-bottom:10px;}	
	
#project > h4 > span:last-child {
	font-size:25px;
	color:#004c69;}
	
.users {
	margin-top:15px;}	
	
.users > p > span:first-child {	
	display:block;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:600;
	color:#8b8b8b;
	margin-bottom:5px;}
	
.create-prj-btn-holder {
	padding-right:0;
	margin-bottom:15px;
	text-align:right;}
	
.create-prj-btn-holder > a {
	text-transform:uppercase;}
	
		
	
	
	
/*---- activities ------*/
.content-holder {
	padding-left:30px;}
	
.act-holder > h4 {
	display:block;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:600;
	color:#8b8b8b;
	margin-bottom:25px;}
	
	
.act-holder > div:first:child {}

.act-holder > div:first-child > div {
	padding-left:0;
	padding-right:0}
	
.act-holder > div:first-child > div > h4 {
	font-size:16px;
	font-weight:600;
	color:#868686;}
	
.act-holder > div:first-child > div:last-child {
	text-align:right;}

.act-holder > div:first-child > div:last-child > a {
	text-transform:uppercase;}
		
.act , .project, .form-holder {
	background-color:white;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:1px 1px 2px 0px rgba(50, 50, 50, 0.75);}

.act-top > div {
	width:60%;
	float:left;}
	
.act-top > .act-top-head {
	padding-right:30px;
	padding-left:30px;}
	
.act-top-head .act-top-title > div {
	padding-right:0;
	padding-left:0}	 	
	
.act-top > div:first-child { 
	width:17.318%}
	
.act-top > div:last-child  {
	width:82.682%}	
	
p.new {
	background-color:#f59e32;}
	
p.solved {
	background-color:#47c5b8;}
	
p.onhold {
	background-color:#ffd200;}

p.closed {
	background-color:#80e200;}
	
.act-bottom {
	background-color:#f4f8fb;
	height:45px;
	width:100%;
	display:table;}	
	
.act-bottom > div {
	padding-left:30px;
	border-right:1px solid #d2d9de;
	height:45px;
	display:block;
	float:left;}

.act-bottom > div:last-child {
	border-right:none;}
	
.act-bottom > div:first-child {
	padding-left:0;
	width:17.318%}
	
.act-bottom > div > span {
	display:block;}
	
.act-bottom > .act-bottom-assigned {
	width:19.209%}
	
.act-bottom > .act-bottom-rised {
	width:18.983%}
	
.act-bottom > .act-bottom-prio {
	width:14.237%}
	
.act-bottom > .act-bottom-cat {
	width:18.079%;}	
	
.act-bottom  > .act-link-holder ~ div {
	padding-top:10px;}
	
.act-bottom  > .act-link-holder ~ div > span:first-child {
	color:#7b7b7b;}	
	
.act-bottom  > .act-link-holder ~ div > span {
	line-height:15px;
	font-size:12px;
	color:#004c69;}

.act-bottom  > .act-link-holder ~ div > span:first-letter {
	text-transform:uppercase;}
	
	
.act-top-info > p:last-child {
	padding:5px;
	font-weight:600;
	text-align:center;
	color:black;}
	
	
.act-bottom > div > span:first-child {
	color:#b7b1a7;}
	
.act-bottom > div:last-child > span {}
	
	
	
.act-top-title > div > h3 {
	font-weight:600;
	margin-top:10px;
	margin-bottom:5px;
	font-size:16px;}
	
.act-top-head > p {
	font-size:14px;
	line-height:20px;
	color:#7b7b7b;}	
	
.act-top-info {
	padding-top:10px;}
			
.act-top-info > p:first-child {
	font-size:12px;
	color:#7b7b7b;
	text-align:center;
	margin-bottom:15px;}
	
.act-link-holder > a {
	font-size:17px;
	line-height:45px;
	text-align:center;
	vertical-align:middle;
	float:left;
	display:block;
	color:#545557;
	width:33%;}
	
.act-top-time {
	padding-right:30px;
	text-align:right;
	padding-top:10px;}
	
.act-top-time > p > span {
	color:#7b7b7b;
	font-size:12px;}
	
.act-top-time > p > span:first-child {
	color:#abb2b6;}
	
/*--- aside ----*/
aside {
	background-color:white;}

aside > h4 {
	color:#014b68;
	font-size:16px;
	font-weight:600;}

aside > ul {
	list-style:none;
	padding-left:20px}
	
aside > ul > li {
	margin-top:10px;}
	
/*----- resoliutions -------*/
#issues > h5, #issues > h4 {
	font-size:16px;
	font-weight:600;
	color:#868686;}
	
#issues > h5 > span, #issues > h4 > span  {
	display:block;}
	
#issues > h4 > span:last-child {
	font-weight:400;
	font-size:24px;
	color:#2e2e2e;}
	
#issues > h5 > span:last-child {
	font-weight:400;
	color:#2e2e2e;}
		
.condition, .photo > span:first-child { 	
	font-size:16px;
	font-weight:600;
	color:#868686;}
	
	

.new.badge {
	background-color:#53cdfc;
	color:black;}
	
.res-holder > div:first:child {}

.res-holder > div:first-child > div {
	padding-left:0;
	padding-right:0}
	
.res-holder > div:first-child > div > h4 {
	font-size:16px;
	font-weight:600;
	color:#868686;}
	
.res-holder > div:first-child > div:last-child {
	text-align:right;}

.res-holder > div:first-child > div:last-child > a {
	text-transform:uppercase;}

	
.resolitions {
	padding:15px 30px;
	background-color:white;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:1px 1px 2px 0px rgba(50, 50, 50, 0.75);}
	
.res-top {
	border-bottom:1px solid #e5e5e5;}
	
.res-top > div {
	padding-left:0}
	
.res-top > div > p {
	text-align:left;
	color:#7b7b7b;}

.res-top > div > p > a {
	padding-left:5px;
	color:inherit;}
	
.res-top > div > p > a:hover {
	color:#3d3d3d;}

.res-top > div:last-child {
	padding-right:0;}
	
.res-top > div:last-child > p {
	text-align:right;}
	
.res-bottom {
	padding-top:10px;}
	
	
.res-bottom > p {
	font-size:14px;
	line-height:20px;}	
		

/*----- add - issue ------*/
#add-issue .form-holder > h2 {
	margin:0;
	font-size:16px;
	font-weight:600;
	color:#004c69;}

.form-holder {
	padding:20px 30px;}
	
.form-holder > form {
	margin-top:30px;}
	
	
.form-holder .form-group > label {
	color:#868686;
	font-size:12px;
	font-weight:400;}
	
.form-holder .form-control {
	border-radius:0;}
	
#title {
	width:360px;}
	
#select {
	width:210px;}		
	
input[type="text"].form-control:focus {
	color:#2e2e2e;
	background-color:#f4f8fb;
	border:1px solid #d2d9de;
	box-shadow:none;}
	
textarea.form-control {
	min-height:150px;
	resize:none;}
		
.form-group > div {
	padding-left:0px;}		
	
#uploadFile {
	height:34px;}	
	
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;}
	
.fileUpload > span {
	text-transform:uppercase;}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);}
	
.btn-holder {
	padding-top:10px;
	border-top:1px solid #d2d9de;}	
	
.btn-holder > button {
	text-transform:uppercase;}
	
.errorMessage {
	font-size:12px;
	color:red;}
	
/*---- user-list ----*/
.user-setting-holder {
	padding: 5px 0px;
	background-color:white;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:1px 1px 2px 0px rgba(50, 50, 50, 0.75);}
	
.user-setting-holder > div {
	padding-right:30px;
	padding-left:30px;
	padding-top:10px;}
	
.user-setting-holder  div > a.btn {
	padding-left:30px;
	padding-right:30px;
	text-transform:uppercase;}
		
	
.user-setting-holder > div > div > h2 , .form-holder > h2 {	
	margin:0;
	font-size:16px;
	font-weight:600;
	color:#004c69;}
	
.user-setting-holder > div > div {
	padding-left:0;
	padding-right:0;}
	
.user-setting-holder > div > div:last-child {
	text-align:right;}
	
.user-setting-holder > table {
	margin-bottom:5px;
	margin-top:10px;}
	
table.table > thead  th {
	border-bottom:none;	
	font-weight:400;
	color:#868686;
	font-size:12px;
	padding:5px 5px 5px 30px;} 
	
	
.table > tbody > tr > td {
	color:#2e2e2e;
	padding-left:30px;
	border-bottom:none;
	border-top:none;
	border-right:1px solid #d2d9de;}
	
.table > tbody > tr > td.role {
	width:18.903%;
	padding-right:15px;}
	
.table > tbody > tr > td.status {
	width:17.079%;
	padding-right:15px;}
		
.table > tbody > tr > td > * {
	display:inline-block;}
	
.table > tbody > tr > td > span {
	width:80%;}
	
.table > tbody > tr > td > a {
	text-align:right;
	width:15%;
	color:#868686;}
	
.table > tbody > tr > td.admin {
	color:#de0000;}
	
.table > tbody > tr:first-child > td {
	border-top:none;}
	
	
a.btn-edit > span {
	color:#5bc0de;}
	
a.btn-delete > span {
	color:#d95551;}		
		
	
/* --- add - user ---*/
#add-user input.form-control {
	width:250px;}
	
.btn-holder > a.btn {
	text-transform:uppercase;
	margin-right:20px;}	
	
/* --- modals windows --*/
.modal-dialog {
	margin-top:50px;
	width:450px;}
	
.modal-header {
	padding-left:30px;
	padding-right:30px;
	border-bottom:none;}	
	
.modal-header .close {
	opacity:0.6;
	color:#9c9c9c;}	
	
.modal-header .close > span {
	font-weight:400px;}

.modal-header > h4.modal-title {
	text-align:left;
	font-size:16px;
	font-weight:600;
	color:#004c69;}
	
.modal-body {
	padding-left:30px;
	padding-right:30px;}	

.modal-body > label {
	padding-left:0;
	text-align:left;
	color:#868686;
	font-size:12px;
	font-weight:400;}
	
.modal-body > div {
	padding-right:0px;}	
	
.modal-body div > select {
	border-radius:0px;}
	
.modal-footer {
	border-top:none;}
	
.modal-footer > .btns-holder > button {
	padding-left:20px;
	padding-right:20px;
	text-transform:uppercase;}
	
.btns-holder > button.btn-info {
	border:1px solid #919191;
	background-color:#919191;}
	
.btns-holder > button.btn-success {
	background-color:#1184c0;}
	
/*--- login ----*/
#login > .form-holder {
	width:477px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;}
	
.form-holder > h2 {
	font-size:16px;}
	
.control-holder {
	margin-bottom:20px;}	
	
.control-holder > label {
	line-height:36px;
	text-align:left;
	font-weight:400;
	font-size:12px;
	coler:#868686;
	width:40%;
	float:left;}
	
.control-holder > div > input {
	height:34px;
	border:1px solid #d2d9de;
	width:100%}
	
.control-holder > div {
	width:60%;
	float:right;}
	
.control-holder > .btn-holder {
	border-top:none;}
	
.control-holder > .btn-holder > button {
	padding-left:20px;
	padding-right:20px;}
	
.control-holder > .btn-holder > a {
	text-decoration:underline;
	font-size:12px;
	color:#868686;}
				
.control-holder > .btn-holder > a:hover {
	text-decoration:none;}
	
/*---- translation ------*/	
#translation > .inner-holder {
	padding-top:15px;
	padding-right:30px;
	padding-left:30px;
	padding-bottom:15px;
	background-color:white;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:1px 1px 2px 0px rgba(50, 50, 50, 0.75);}
	
#translation .btn {
	text-transform:uppercase;}
	
.tr-header > div > h2 {
	line-height:32px;
	font-size:16px;
	font-weight:600;
	margin-top:0;
	margin-bottom:0;}
	
.tr-header {
	margin-bottom:30px;}	
	
.btns-holder > a {
	float:right;
	margin-left:15px;}
	
.btns-holder > a.passive {
	background-color:#888888;}
	
	
.filters > form > * {
	margin-right:20px;}
	
.filters > form > a.btn {
	background-color:#1184c0;}
		
.filters > form > select, .filters > form > input {
	height:30px;
	border:1px solid #d2d9de;}			

.filters > form > input {
	padding-left:5px;}
	
#translation .table {
	margin-top:20px;}
	
#translation .table > tbody > tr > td {
	padding: 5px 0px;
	text-align:left;
	border-right:none;}
	
#translation .table > tbody > tr > td:last-child {
	width:70px;
	text-align:right;}
	
#translation .table > thead  th {
	text-transform:capitalize;
	padding:0;
	text-align:left; }
	
#translation .table > thead tr > th:last-child {
	text-align:right}
					
	
#translation .table > tbody > tr > td:first-child {
	border-left:none;
	text-align:left;
	width:40px;}
	
#translation .table > tbody > tr > td:nth-child(2), th.th-label {
	width:340px;}
	
#translation td > input {
	padding-left:10px;
	height:32px;
	border:1px solid #d2d9de;			
	width:100%;}
	
#translation td > a {
	line-height:34px;
	font-size:15px;
	height:34px;
	display:online-block;
	margin-left:15px;
	width:15px;}
	
#translation td > a:first-child {
	margin-left:0;}
	
.div-table {
	width:100%;
	display:table}
	
.div-table > form.tr {
	margin-bottom:10px;
	display:table-row;}
	
.div-table > form.tr > .td {
	padding: 5px 0px;
	display:table-cell;}
	
.div-table > form.tr > .td:first-child {
	border-left:none;
	text-align:left;
	width:40px;}
	
.div-table > form.tr > .td:nth-child(2) {
	width:340px;}
	
.div-table > form.tr > .td > input {
	padding-left:10px;
	height:32px;
	border:1px solid #d2d9de;			
	width:100%;}
	
	
.div-table > form.tr > .td:last-child {
	width:70px;
	text-align:right;}
	
.div-table > form.tr > .td > a {
	color:#4cb115; }
		
.div-table > form.tr > .td > a:last-child {
	margin-left:10px;
	color:#d9534f; }
	
/*--- project - to - user ----*/
#project-to-user > .inner-holder {
	padding-top:15px;
	padding-right:30px;
	padding-left:30px;
	padding-bottom:15px;
	background-color:white;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:1px 1px 2px 0px rgba(50, 50, 50, 0.75);}
	
#project-to-user > .inner-holder > h4 {
	font-size:16px;
	margin-top:0;
	margin-bottom:35px;}
	
.filter-holder {
	margin-bottom:25px;}	
	
.filter-holder > div {
	padding-left:0;
	padding-right:0;}
	
.input-holder {
	padding-right:0px;
	padding-left:0;}
	
.input-holder > input {
	padding-left:5px;
	height:27px;
	border:1px solid #d2d9de;
	font-size:12px;
	width:100%;}
	
.tables-holder > div > table {
	width:100%;}
	
.l-t-holder {padding-left:0px;}	
	
.tables-holder > div > table  tr > th {
	color:#868686;
	text-align:left;
	font-size:12px;
	font-weight:400;}
	
.tables-holder > div > table  tr > th:first-child {
	width:45px;
	text-align:left;}
	
.tables-holder > div > table  tr > th:last-child {
	text-align:right;}
	
.tables-holder > div > table  tr > td:first-child {
	text-align:left;}
	
.tables-holder > div > table  tr > td:last-child {
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	text-align:right;}
	
.tables-holder > div > table > tbody > tr:nth-child(odd) > td {
	background-color:#f4f8fb;}
	
.l-t-holder  a.btn, .r-t-holder  a.btn {
	line-height:26px;
	width:35px;
	height:28px;}

.l-t-holder  a.btn {
	font-size:14px;}
	
.r-t-holder  a.btn {
	font-size:13px;}
		
.tables-holder > div {
	height:350px;
	overflow-y:auto;}
	
.btn-hld > button {
	font-weight:600;
	text-transform:uppercase;
	height:27px;}		
